* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-home {
    width: 50%;
    height: 100vh;
    background-color: rgba(7, 33, 58, 0.534);
    display: none;
    animation: fadeIn 2s ease-out forwards;
}

#telaDeLogin #login-home {
    background-color: chartreuse;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-pass {
    align-items: center;
    justify-content: center;
    display: flex;
}

#body {
    background-repeat: no-repeat;
    background: radial-gradient(circle, rgba(108, 179, 184, 1) 0%, rgba(17, 62, 74, 1) 92%, rgba(31, 42, 48, 1) 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Poppins;
    color: aliceblue;
}

#main {
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;

}

#about-us {
    min-height: 100vh;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: center;
    margin: 0 auto;
}

#container-header {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#img-header {
    display: flex;
    align-items: center;
}

.title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-left: 10px;
}

.nav-list {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.nav-list ul {
    justify-content: center;
    display: flex;
    color: aliceblue;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.nav-list a {
    justify-content: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: aliceblue;
}

.nav-list a:hover {
    color: rgb(176, 204, 226);
}

#onLogin {
    color: aliceblue;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 100px;
    height: 50px;
    font-size: 18px;
    border-radius: 5%;
    border: 2px solid aliceblue;
    cursor: pointer;
}

#onLogin:hover {
    transform: scale(0.98);

}

.nav-toggle {
    color: aliceblue;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 5%;
    border: 2px solid aliceblue;
    cursor: pointer;
}

.title {
    color: white;
    font-size: 80px;

}

.container-aside {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

#container-article {
    display: flex;
}

.article-left {
    width: 50%;
    height: 300px;
    padding-top: 3rem;
}

.article-right {
    width: 50%;
    justify-content: center;
    display: flex;
}

#img-semfundo {
    max-width: auto;
    height: 95%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(7px);
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (min-width: 1024px) {

    #menu {
        display: flex;
        flex-direction: column;
    }

    #body {
        background-size: cover;
        background-position: center;
    }

    #login-home {
        width: 100%;
    }

    .title-top {
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-self: center;
        padding-top: 10px;
    }

    .title {
        font-size: 125px;
    }

    .header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .nav-list {
        flex-direction: column;
        font-size: 18px;
        display: none;
    }

    #container-article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .article-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        width: 100%;
        height: auto;
    }

    .article-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }



    .frase {
        font-size: 25px;
        width: 85%;
    }

    #onLogin {
        width: 30px;
        height: 40px;
        display: none;
    }

    #img-semfundo {
        height: 650px;
    }

    .container-login {
        padding: 0 10px;
    }


    .toggle {
        padding-left: 50px;
        
    }

    .nav-toggle {
        align-items: center;
        font-size: 55px;
        justify-content: center;
        display: flex;
        border: none;
    }
}


@media screen and (max-width: 768px) {
    #body {
        background-size: cover;
        width: 100%;
        background-position: center;
    }

    #about-us {
        width: 100%;
    }


    #login-home {
        width: 100%;
    }

    .title-top h1 {
        font-size: 20px;
        display: flex;
        justify-content: center ;
    }

    .title {
        font-size: 35px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .frase {
        width: 85%;
        text-justify: center;
        font-size: 13px;
        padding-top: 20px;
        display: flex;
        text-align: justify;
        justify-content: center;
        align-items: center;
    }

    #container-article {
        display: block;
    }

    .nav-toggle {
        background: none;
        border: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
        display: none;
        /* Inicialmente escondido em telas maiores */
        z-index: 1001;
    }

    .nav-list {
        display: none;
        justify-content: center;
        align-items: center;
        left: 0;
        width: 100%;
    }

    .nav-list ul {
        display: none;
        flex-direction: column;
        gap: 15px;
    }

    #img-semfundo {
        padding-top: 20px;
        height: 300px;
        width: auto;
        display: flex;
        justify-content: center;

    }

    .article-left {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .article-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
    }

    #onLogin {
        display: none;
        width: 70px;
        height: 35px;
    }

    .toggle {
        padding-left: 50px;
    }

    .nav-toggle {
        display: flex;
    }
}